main{
    display: flex;
    justify-content: center;
}

.pokedex{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(247, 105, 105);
    width: 400px;
    height: 600px;
    border-radius: 1rem;
}

.container-titulo{
    text-align: center;
}

.container-entrada{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

input{
    border: none;
    box-shadow: inset 0 0 5px rgb(0, 0, 0, .5); 
    border-radius: 1em;
    width: 80%;
}

.container-nombrePokemon{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Npokemon:first-letter {
    text-transform: uppercase;
}

.container-salud{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.imagen-Pokemon{
    background-color: rgb(252, 181, 181);
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    border-radius: 50%;
}

h4{
    text-align: center;
    margin-top: -10px;
}

.container-tipoPokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container-habilidadPokemon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-tablaTipoPokemon{
    border-collapse: collapse;
    background-color: rgb(254, 201, 201);
    margin-top: -20px;
}

.container-tablaHabilidadPokemon{
    border-collapse: collapse;
    background-color: rgb(254, 201, 201);
    margin-top: 10px;
}

tr th{
    border: 1px solid black;
    padding: 8px;
}